.badge {
  padding: 0.5em 1em;
  border-radius: 1.5em;
  border: 0.1em solid #0084ff;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: #0084ff;
  font-weight: bold;
  cursor: pointer;
  font-size: small;
}

.badge.active {
  background: linear-gradient(269deg, #0048ff, #0096ff);
  color: #fff;
}
