.blog {
  width: 20%;

  margin: 1em;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  border: 1px solid rgba(0, 168, 255, 0.3);
  min-width: 300px;
}

.blog--image--container > img {
  width: 100%;
  height: 11em;
}

.blog--content {
  padding: 0.7em 1.5em;
  font-family: Raleway;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
}

.blog--content--header {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.14;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: capitalize;
}

.blog--content--main-content {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.35px;
  text-align: left;
  color: #000;
  margin: 0.3em 0;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: capitalize;
}

.blog--content--author {
  font-size: 0.75em;
  font-weight: bolder;
  line-height: 2;
  color: #0096ff;
  padding-top: 4px;
}
