.filters {
  width: 60%;
  margin-left: 20%;
  margin-right: auto;
}

.filters--header {
  display: flex;
  align-items: center;
}

.filters--header--text {
  font-size: 0.85em;
  font-weight: 600;
  margin-left: 0.5em;
}

.filters--header--icon {
  width: 2em;
}

.filters--container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
